
<div>
    <h4>Exo sur ngClass</h4>


    <div class="row">
        <div class="col-4">
            <div class="square" [ngClass]="{'selected': selectedSquare == 0}"></div>
        </div>
        <div class="col-4">
            <div class="square" [ngClass]="{'selected': selectedSquare == 1}"></div>
        </div>
        <div class="col-4">
            <div class="square" [ngClass]="{'selected': selectedSquare == 2}"></div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary col-6" (click)="goLeft()">vers la gauche</button>
        <button class="btn btn-primary col-6" (click)="goRight()">vers la droite</button>
    </div>

</div>

