<h3>Exo shopping cart</h3>

<form [formGroup]="form" (ngSubmit)="addToCart()">
    <h4>Form ajout</h4>
    <div class="mb-3">
        <label for="in-name" class="form-label">name</label>
        <input type="text" class="form-control" id="in-name" formControlName="name">
    </div>
    <div class="mb-3">
        <label for="in-price" class="form-label">price</label>
        <input type="number" class="form-control" id="in-price" formControlName="price">
    </div>
    <div class="mb-3">
        <label for="in-qtt" class="form-label">qtt</label>
        <input type="number" class="form-control" id="in-qtt" formControlName="qtt">
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" id="in-promo" formControlName="promo">
        <label for="in-promo" class="form-label">promo</label>
    </div>
    <button type="submit" class="btn btn-primary">ajouter au panier</button>
</form>


<div>

    <h4>Shopping cart</h4>

    <div>
        <p *ngFor="let item of cart">
            {{item.name}} - {{item.qtt}} - {{item.price}} - {{item.qtt*item.price}} 
            <button (click)="incQtt(item.id)">+</button>
            <button (click)="decQtt(item.id)">-</button>
            <button (click)="removeFromCart(item.id)">x</button> 
        </p>
    </div>

</div>