<section *ngIf="!connectedUser">
	<div class="form-row my-3">
		<div class="form-group col-6">
			<label for="login">Login:</label>
			<input type="text" id="login" class="form-control" [(ngModel)]="data.login" />
		</div>
		<div class="form-group col-6">
			<label for="password">Password:</label>
			<input type="password" id="password" class="form-control" [(ngModel)]="data.password" />
		</div>
	</div>
	<button (click)="connection()" class="btn btn-danger">Se connecter</button>
</section>

<section *ngIf="connectedUser">
	<p>Bienvenue {{ connectedUser.firstName }} {{ connectedUser.lastName }}</p>
	<button (click)="disconnect()">Se déconnecter</button>
</section>
